{{>layouts/cheader}}
<head>
    <link rel="stylesheet" href="/css/community.css">
</head>
<section class="notice">
    <!-- 제목 영역 -->
    <div class="page-title">
        <div class="container">
            <h3>커뮤니티</h3>
        </div>
    </div>

    <!-- 검색창 -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form action="/community/search" method="get">
                    <div class="search-wrap">
                        <label for="search" class="blind">게시글 검색</label>
                        <input id="search" type="search" name="query" placeholder="검색어를 입력해주세요.">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 게시글 테이블 -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th class="th-id">번호</th>
                    <th class="th-title">제목</th>
                    <th class="th-content">날짜</th>
                </tr>
                </thead>
                <tbody>
                {{#community}}
                    <tr>
                        <td>{{id}}</td>
                        <th>
                            <a href="/community/{{id}}">{{title}}</a>
                        </th>
                        <td>{{date}}</td>
                    </tr>
                {{/community}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 글쓰기 버튼 -->
    <div class="container mt-3 text-end">
        <a href="/community/new" class="btn btn-darkNew">새 글 쓰기</a>
    </div>
</section>
