{{>layouts/cheader}}
<link rel="stylesheet" href="/css/new.css">
<form class="container community-form" action="/community/create" method="post">
    <div class="mb-3">
        <label for="title">제목</label>
        <input placeholder="제목을 입력해주세요." id="title" name="title" required />
    </div>
    <div class="mb-3">
        <label for="content">내용</label>
        <textarea placeholder="내용을 입력해주세요." id="content" name="content" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn-submit">등록하기</button>
    <a href="/community" class="btn-backList">돌아가기</a>
</form>