{{>layouts/header}}
<link rel="stylesheet" href="/css/show.css">

<h3>{{community.title}}</h3>
<p>{{community.content}}</p>

<div class="button-group-right">
    <a href="/community/edit/{{id}}" class="btn btn-primary">수정하기</a>
    <form action="/community/delete/{{id}}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">삭제하기</button>
    </form>
    <a href="/community" class="btn btn-secondary">목록으로</a>
</div>

{{>layouts/footer}}