<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .login-container {
            background-color: #f2f2f2;
            padding: 80px;
            width: 300px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border: 1px solid #d9d9d9;
        }

        .login-container h1 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .login-container input {
            display: block;
            width: 88%;
            padding: 18px;
            margin-bottom: 20px;
            border: none;
            background-color: #d9d9d9;
        }

        .login-container button {
            width: 100%;
            padding: 18px;
            background-color: #FF894E;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }

        .signup {
            margin-top: 20px;
            font-size: 12px;
        }

        .signup a {
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>

<div class="login-container">
    {{#loginError}}
        <div style="background-color: #FFB18A; border: 1px solid #ffcccc;
                    color: #cc0000; padding: 12px; margin-bottom: 15px;
                    border-radius: 4px; font-size: 14px;">
        </div>
    {{/loginError}}
    <h1>냉장고를 부탁해</h1>
    <form action="/refri/join" method="post">
        <input type="email" name="email" placeholder="이메일" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <button type="submit">로그인</button>
    </form>
    <div class="signup">
        아직 회원이 아니신가요? <a href="/refri/signup" style="color:#FF894E;">회원가입</a>
    </div>
</div>
</body>
</html>
